*__pycache__/
wallpapers/all/
wallpapers/current/
config/nvim/.cache/
config/nvim/lazy-lock.json
**/__pycache__/
**/*.pyc
*.log
*.tmp
*.swp
*.swo
.DS_Store
config/kitty/theme.conf
config/fish/fish_variables
**/*.key
**/*.pem
**/*.secret
.env
**/.env
*.backup-*